body
{
    margin:0px;
    background-color: gold;
    font-family: Century Gothic;

    
    
    
}
h1
{
    position: absolute;
    top:10%;
    left:20%;
    font-size: 100px;
    letter-spacing: 4px;
}
#text
{
    position: absolute;
    top:40%;
    left:10%;
    font-size: 20px;
}
#enter
{
    width: 300px;
    height: 200px;
}
#box
{
    position: absolute;
    top:60%;
    left:30%;
    font-size:30px;
    letter-spacing: 4px;
}
#start
{
    position: absolute;
    top:80%;
    left:60%;
}
#reset
{
    position: absolute;
    top:85%;
    left:60%;
}
#timer
{
   position: absolute;
    top:20%;
    left:80%; 
    font-size: 50px;
  
}
